<%- include('./template/cabecera'); %>

    <body>
        <div class="wrapper">
           
            <%- include('./template/navbar'); %>

                <h2>Bienvenido esta es la página principal</h2>

            </div>
      

        <%- include('./template/footer'); %>