<%- include('./template/cabecera'); %>
<!--Pagina principal de bienvenida -->
    <body>
        <div class="wrapper">
           
            <%- include('./template/navbar'); %>

                <h2>Bienvenido esta es la página principal</h2>
                <p>La tienda para todos</p>
                
 
            </div>
        

        <%- include('./template/footer'); %>