<%- include('./template/cabecera'); %>
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">La genérica Y&G</h5>
              <form name="form1">
                <div class="form-floating mb-3">
                  <input type="text" name="txt" class="form-control" id="floatingInput" placeholder="Usuario">
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="num" class="form-control" id="floatingPassword" placeholder="Contraseña">
                </div>
  
                <div class="d-grid">
                  <button class="btn btn-primary btn-login text-uppercase fw-bold" type="button" onclick="login()">Iniciar
                    sesión</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    <%- include('./template/footer'); %>  