<%- include('./template/cabecera'); %>

    <body>
        <div class="wrapper">
            <%- include('./template/navbar'); %>
                <h2>Ventas</h2>
        </div>
        <%- include('./template/footer', {titulow:'Inicio'}); %>